<!-- # **Near Real-Time Probabilistic Plasma Flow Analysis using LSTM and DSCOVR Data from the Lagrangian Point (L1)** -->
# **DSCOVRY - Advanced Data Preprocessing and Space Weather Forecasting using DSCOVR Data from the Lagrangian point (L1)**

[DSCOVR](https://www.ncei.noaa.gov/access/metadata/landing-page/bin/iso?id=gov.noaa.ngdc.stp.swx:satellite-systems_dscovr) continues to operate beyond its expected lifespan, occasionally producing hardware faults that may result from space weather events. In this notebook, we analyze raw data from NASA's [DSCOVR](https://www.ncei.noaa.gov/access/metadata/landing-page/bin/iso?id=gov.noaa.ngdc.stp.swx:satellite-systems_dscovr) mission to forecast geomagnetic storms, taking into account hardware faults.

For this project, we draw upon prior research, specifically:

- [Cristoforetti, M., Battiston, R., Gobbi, A. et al. “Prominence of the training data preparation in geomagnetic storm prediction using deep neural networks.“](https://www.nature.com/articles/s41598-022-11721-8)  Sci Rep 12, 7631 (2022).
- [Marina Stepanova et al. “Prediction of Geomagnetic Storm Using Neural Networks:Comparison of the Efficiency of the Satellite and GroundBased Input Parameters.“](https://iopscience.iop.org/article/10.1088/1742-6596/134/1/012041/pdf) 2008 J. Phys.: Conf. Ser. 134 012041
- [Tasistro-Hart, Adrian et al. “Probabilistic Geomagnetic Storm Forecasting via Deep Learning.”](https://www.semanticscholar.org/paper/Probabilistic-Geomagnetic-Storm-Forecasting-via-Tasistro-Hart-Grayver/45103139959e86620de7353615db70e4e730efe5)  Journal of Geophysical Research: Space Physics 126 (2020): n. pag.
- [Gulati, Ishita et al. “Classification based Detection of Geomagnetic Storms using LSTM Neural Network.”](https://www.semanticscholar.org/paper/Classification-based-Detection-of-Geomagnetic-using-Gulati-Li/96d8ff1d64f3d2691ee42e1b3ea6c33cc4136d6f) 2022 3rd URSI Atlantic and Asia Pacific Radio Science Meeting (AT-AP-RASC) (2022): 1-4.
- [Smith, A. W., Forsyth, C., Rae, I. J., Garton, T. M., Jackman, C. M., Bakrania, M., et al. On the considerations of using near real time data for space weather hazard forecasting.](https://spiral.imperial.ac.uk/bitstream/10044/1/98383/2/Smith_SpaceWeather_20_e2022SW003098_2022.pdf) Space Weather, 20, (2022) e2022SW003098. https://doi.org/10.1029/2022SW003098

Our objective is to implement the model in a real-time or near real-time environment, enabling us to process [DSCOVR](https://www.ncei.noaa.gov/access/metadata/landing-page/bin/iso?id=gov.noaa.ngdc.stp.swx:satellite-systems_dscovr) data and make predictions.

## **Understanding Solar Wind**

Solar wind frequently interacts with Earth's magnetosphere, leading to geomagnetic storms that can disrupt various technologies, including satellites and electrical power grids. 
To address this challenge, the National Oceanic and Atmospheric Administration (NOAA) operates a space weather station known as the Deep Space Climate Observatory (DSCOVR). 

[DSCOVR](https://www.ncei.noaa.gov/access/metadata/landing-page/bin/iso?id=gov.noaa.ngdc.stp.swx:satellite-systems_dscovr) is equipped with a range of sensors designed to predict these storms by collecting vital data on the speed, temperature, and density of incoming solar plasma.

[DSCOVR](https://www.ncei.noaa.gov/access/metadata/landing-page/bin/iso?id=gov.noaa.ngdc.stp.swx:satellite-systems_dscovr) maintains a orbit, stationed at Lagrange point one, positioned 1.5 million kilometers from Earth and situated between our planet and the Sun. NOAA uses this data to simulate Earth's magnetic field and atmosphere, offering potential early warnings of geomagnetic storms.


Geomagnetic activity is commonly quantified using the $D_{st}$ index. Using solar wind parameters and magnetic field data, we can potentially predict changes in the $D_{st}$ index. Prior studies recommend incorporating interplanetary parameters as inputs [[1]](https://www.nature.com/articles/s41598-022-11721-8), including the interplanetary magnetic field ($IMF$), solar wind ($SW$), and in some cases, specific components like the IMF $B_z$, $SW$ electric field, temperature, speed, and density.

It is worth noting that the study by Tasistro-Hart et al. incorporates observations from the solar disk as additional input data, suggesting that this inclusion enhances forecasting reliability. Furthermore, they shift their focus from predicting $D_{st}$ to the external component of geomagnetic storms, known as $E_{st}$, and their neural network architecture is adept at forecasting uncertainty.

Note that,

$D_{st} = I_{st}(t) + E_{st}(t)$

In this notebook, we build upon prior research in the field, specifically the work outlined in [[2]](https://www.semanticscholar.org/paper/Probabilistic-Geomagnetic-Storm-Forecasting-via-Tasistro-Hart-Grayver/45103139959e86620de7353615db70e4e730efe5). 

Our approach involves implementing a machine learning model while accounting for the impact of hardware faults and anomalies. Finally, our goal is to provide uncertainty estimates for the output, following the methodology described by Tasistro-Hart et al.

However, it's important to note that meticulous data preparation for training and validation significantly influence the performance of the machine learning model.

### **Data Resources**

For this project, we will directly utilize raw [DSCOVR](https://www.ncei.noaa.gov/access/metadata/landing-page/bin/iso?id=gov.noaa.ngdc.stp.swx:satellite-systems_dscovr) data as input. Given our objective of building a near-real-time system, we have opted to integrate the most recent data by implementing a function that can download datasets from the [Experimental Data Repository](https://www.spaceappschallenge.org/develop-the-oracle-of-dscovr-experimental-data-repository/).

These datasets encompass data starting from 2016 and continue to receive updates to the present day. They will be stored in the `dataset` folder. Each `.csv` file contains 53 columns, with column 0 representing the time in UTC in the following format:  `YYYY-MM-DD hh:mm:ss`. Columns 1-3 correspond to the magnetic field components measured in nanoteslas (nT) at the time indicated in column 0. The remaining columns contain dimensional measurements from the Faraday cup plasma detector.

#### **References**
[1] [Prominence of the training data preparation in geomagnetic storm prediction using deep neural networks](https://www.nature.com/articles/s41598-022-11721-8)

[2] [Probabilistic Geomagnetic Storm Forecasting via Deep Learning](https://www.semanticscholar.org/paper/Probabilistic-Geomagnetic-Storm-Forecasting-via-Tasistro-Hart-Grayver/45103139959e86620de7353615db70e4e730efe5)
- [DSCOVR: Deep Space Climate Observatory](https://www.nesdis.noaa.gov/current-satellite-missions/currently-flying/dscovr-deep-space-climate-observatory)
- [DSCOVR (Deep Space Climate Observatory) -eoPortal](https://www.eoportal.org/satellite-missions/dscovr)
- [Deep Space Climate Observatory (DSCOVR)](https://www.nist.gov/measuring-cosmos/deep-space-climate-observatory-dscovr)


## **Data Retrieval and Preprocessing**

For this prototype, we utilise the experimental data provided during the competition. It is worth noting that in a real-time production environment, the functionality of the following function can be extended to facilitate the real-time acquisition and storage of data in a MongoDB database for efficient retrieval and processing.

A virtual environment was created and the required libraries were installed to develop this project. Navigate to the project folder and type the following:

```
python -m venv ./venv

pip install -r requirements.txt

``` 

To activate the virtual environment please type:

```
source ./venv/bin/activate
```

In [3]:
# importing required libraries for data retrival and pro-processing

import numpy as np
import pandas as pd
import matplotlib as mtp

In [4]:
# check versions

print("Pandas: {}".format(pd.__version__))
print("Numpy: {}".format(np.__version__))
print("matplotlib: {}".format(mtp.__version__))

Pandas: 2.1.1
Numpy: 1.26.0
matplotlib: 3.8.0

In [5]:
import datetime as dt
from tqdm import tqdm
import os
import zipfile
import requests

root_url = "https://opensource.gsfc.nasa.gov/spaceappschallenge/"
# The data start being recorded from 2016; DSCOVR became operational on July 27, 2016.
start_year = 2016
today = dt.date.today()
current_year = today.year

dataset_folder = "../dataset"  # Dataset forlder to store .csv files/unzipped data
tmp_folder = "../tmp"  # Temporary folder to store downloaded .zip files
os.makedirs(tmp_folder, exist_ok=True)
os.makedirs(dataset_folder, exist_ok=True)


def fetch_experimental_dscovr_data():
    """Download and store experimental DSCOVR data.

    The data is stored in .zip folders, which are first downloaded to a tmp folder,
    and then extracted into the dataset folder before the zip files are erased.

    Note: If the file is from the current year, it is always downloaded, even if it already exists.
    """
    for year in range(start_year, current_year + 1):
        url = root_url + "dsc_fc_summed_spectra_{}_v01.zip".format(year)
        zip_filename = os.path.join(tmp_folder, "dscovr_data_{}.zip".format(year))
        dataset_year_folder = os.path.join(dataset_folder, str(year))

        # Remove existing files for the current year (if they exist)
        if year == current_year:
            existing_files = [
                f
                for f in os.listdir(dataset_year_folder)
                if f.startswith(f"dsc_fc_summed_spectra_{year}")
            ]
            for existing_file in existing_files:
                os.remove(os.path.join(dataset_year_folder, existing_file))

        # Check if the file already exists, if not, download it
        if not any(
            f.startswith(f"dsc_fc_summed_spectra_{year}")
            for f in os.listdir(dataset_year_folder)
        ):
            try:
                # Download the zip file
                print("Downloading DSCOVR data for year {}...".format(year))
                response = requests.get(url, stream=True)
                total_size = int(response.headers.get("content-length", 0))

                if response.status_code == 200:
                    # Display a progress bar when downloading experimental DSCOVR dataset
                    with open(zip_filename, "wb") as file, tqdm(
                        desc=zip_filename,
                        total=total_size,
                        unit="B",
                        unit_scale=True,
                        unit_divisor=1024,
                    ) as bar:
                        for data in response.iter_content(chunk_size=1024):
                            file.write(data)
                            bar.update(len(data))
                    print("Download complete for year {}.".format(year))

                    # Unzip the downloaded file into the dataset folder
                    with zipfile.ZipFile(zip_filename, "r") as zip_ref:
                        zip_ref.extractall(dataset_year_folder)

                    # Delete the downloaded zip file from the temporary folder
                    os.remove(zip_filename)
                else:
                    print("Failed to download data for year {}.".format(year))
            except Exception as e:
                print(
                    "An error occurred while downloading DSCOVR data for year {}: {}".format(
                        year, e
                    )
                )
        else:
            print("DSCOVR Data for year {} already exists.".format(year))


def prepare_experimental_Kp_data():
    dataset_folder = '../dataset/'
    kp_folder = 'kp_data'
    



def prapare_dataframe():
    """Loop through the .csv files to create a Pandas DataFrame.

    This function reads CSV files from the dataset folder for the specified range of years
    and combines them into a single Pandas DataFrame. It handles missing files gracefully.

    Returns:
        pandas.DataFrame: A combined DataFrame containing data from all available CSV files.
    """

    combined_df = pd.DataFrame()
    dataset_folder = '../dataset/'
    for year in range(start_year, current_year + 1):
        path_csv_file = os.path.join(dataset_folder, str(year), f"dsc_fc_summed_spectra_{year}_v01.csv")
        # Check if the file exists before trying to read it
        if os.path.exists(path_csv_file):
            df = pd.read_csv(
                path_csv_file,
                delimiter=",",
                parse_dates=[0],
                na_values="0",
                header=None,
            )
            combined_df = pd.concat([combined_df, df])
        else:
            print(f"Warning: File {path_csv_file} does not exist.")
            
    return combined_df

In [6]:
# Call the functions to download data and create a dataframe

fetch_experimental_dscovr_data()

df = prapare_dataframe()

## **Exploratory Data Analysis (EDA)**

In this section, we employ Pandas and data visualization libraries to gain a deeper understanding of the experimental DSCOVR data. Our aim is to identify patterns that will inform the selection of the most suitable machine learning model for our problem statement.

We begin by providing a high-level overview of the data. Subsequently, we proceed with data cleaning, addressing issues such as missing values. Next, we delve into the exploration of correlations between variables, presenting our findings through visual representations.  Finally, we summarise the key findings from this section.

### **Data Summary**

Following is a high level overview of the data. Additional information on how to interpret the columns can be found [here](https://hpde.io/NASA/NumericalData/OMNI/PT1H)

In [7]:
df.head()

# A note regarding column 4-53: 5th+ columns: These are the "raw" measurements of the spectrum from the plasma detector so they are the "level 1" data. 
# We're reading it as each value is the flow strength of the solar wind, with each column being an interval in a range of flow speeds at which the solar wind is traveling at.

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,2016-01-01 00:00:00,6.83609,-3.37934,-12.9205,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01 00:01:00,6.76732,-3.30194,-12.9967,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01 00:02:00,6.39107,-2.61173,-13.3271,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-01 00:03:00,6.44897,-2.61525,-13.3299,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01 00:04:00,6.58758,-2.73082,-13.2361,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# providing a concise summary of a dataframe.
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3277440 entries, 0 to 175679
Data columns (total 54 columns):
 #   Column  Dtype
---  ------  -----
 0   0       datetime64[ns]
 1   1       float64
 2   2       float64
 3   3       float64
 4   4       float64
 5   5       float64
 6   6       float64
 7   7       float64
 8   8       float64
 9   9       float64
 10  10      float64
 11  11      float64
 12  12      float64
 13  13      float64
 14  14      float64
 15  15      float64
 16  16      float64
 17  17      float64
 18  18      float64
 19  19      float64
 20  20      float64
 21  21      float64
 22  22      float64
 23  23      float64
 24  24      float64
 25  25      float64
 26  26      float64
 27  27      float64
 28  28      float64
 29  29      float64
 30  30      float64
 31  31      float64
 32  32      float64
 33  33      float64
 34  34      float64
 35  35      float64
 36  36      float64
 37  37      float64
 38  38      float64
 39  39      float64
 40  40      float64
 41  41      float64
 42  42      float64
 43  43      float64
 44  44      float64
 45  45      float64
 46  46      float64
 47  47      float64
 48  48      float64
 49  49      float64
 50  50      float64
 51  51      float64
 52  52      float64
 53  53      float64
dtypes: datetime64[ns](1), float64(53)
memory usage: 1.3 GB

In [9]:
# return the number of rows
len(df.index)

3277440

In [10]:
# Basic descriptive statistics for all columns
df.describe(include='all')

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
count,3277440,3.259998e+06,3.259998e+06,3.259998e+06,1.519804e+06,1.582311e+06,1.721032e+06,1.809991e+06,1.922099e+06,2.008476e+06,...,179435.000000,131650.000000,103457.000000,70114.000000,61407.000000,37701.000000,34288.000000,29597.000000,28458.000000,26270.000000
mean,2019-11-24 16:42:18.717038592,8.015442e-02,-1.255092e-01,2.171055e-02,6.904954e+01,2.405151e+01,9.262740e+01,9.369958e+01,1.246801e+02,1.251655e+02,...,410.258331,353.559684,397.477883,381.584273,351.028206,364.846009,364.814574,339.140779,387.293616,339.150626
min,2016-01-01 00:00:00,-2.014280e+01,-3.178510e+01,-3.332440e+01,2.317260e-01,2.317260e-01,2.317260e-01,2.317260e-01,2.317260e-01,2.317260e-01,...,96.621000,63.826300,63.398300,2.675280,2.947210,59.301300,76.164100,65.362400,0.231726,2.469710
25%,2018-01-04 11:59:45,-2.532720e+00,-2.640140e+00,-1.522248e+00,3.139748e+01,2.317260e-01,4.230860e+01,3.983035e+01,5.333525e+01,4.449867e+01,...,392.940000,336.209750,387.257000,372.588500,339.152500,365.221000,370.332750,341.495000,397.712750,343.118500
50%,2020-03-20 23:59:30,1.694915e-01,-2.131885e-01,3.084400e-02,5.893845e+01,1.063320e+01,8.518255e+01,8.183820e+01,1.085690e+02,1.006845e+02,...,421.542000,367.358000,416.448000,409.860500,380.525000,397.663000,397.949500,373.665000,431.640000,381.959500
75%,2021-10-10 23:59:15,2.672278e+00,2.395460e+00,1.553040e+00,9.426612e+01,3.352490e+01,1.191900e+02,1.199030e+02,1.635685e+02,1.546990e+02,...,437.436000,385.025750,432.293000,423.639000,397.720000,418.133000,419.557750,394.069000,451.927750,401.169250
max,2023-05-02 23:59:00,3.304940e+01,2.789380e+01,3.483770e+01,1.675760e+03,1.582720e+03,1.736050e+03,1.496590e+03,1.699290e+03,1.848460e+03,...,1756.870000,1757.440000,1775.960000,1762.550000,1689.330000,1719.110000,1939.020000,1852.740000,1875.050000,1866.960000
std,NaN,3.410268e+00,3.765791e+00,2.982616e+00,6.505515e+01,4.948382e+01,7.784311e+01,8.532521e+01,1.040021e+02,1.253738e+02,...,66.313573,66.450856,72.205229,84.113211,85.454188,99.350766,104.976669,109.746891,118.891957,112.803118

In [11]:
# return the list of column names of the dataframe
df.columns

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53],
      dtype='int64')

### **Data Cleaning**

In this section, our focus is on data cleaning, which involves addressing missing values and outliers early in the process. Missing values can adversely affect the accuracy of a machine learning model. There are a couple of options for handling them: you can either drop rows or columns with missing values, or you can fill in the missing values with the median, mean, or mode. To determine the best approach, you can count the number of `NaN` values in the dataframe and also understand the significance of these missing valies.

In [12]:
# count the number of missing values
df.isnull().sum()
# we have 3277440 rows

0           0
1       17442
2       17442
3       17442
4     1757636
5     1695129
6     1556408
7     1467449
8     1355341
9     1268964
10    1148804
11    1053137
12     921593
13     853886
14     732934
15     682399
16     623358
17     554684
18     506961
19     472456
20     425829
21     425497
22     434438
23     521356
24     573915
25     749402
26     846987
27    1001870
28    1124509
29    1315618
30    1457869
31    1690322
32    1784844
33    2032300
34    2114747
35    2218250
36    2396398
37    2499624
38    2570894
39    2726544
40    2775096
41    2936463
42    2979187
43    3035621
44    3098005
45    3145790
46    3173983
47    3207326
48    3216033
49    3239739
50    3243152
51    3247843
52    3248982
53    3251170
dtype: int64

In [48]:
# Function to find the maximum consecutive NaN values
def max_consecutive_nan(df):
    max_consecutive = {}
    for col in df.columns:
        max_count = 0
        current_count = 0
        for value in df[col].isna():
            if value:
                current_count += 1
                max_count = max(max_count, current_count)
            else:
                current_count = 0
        max_consecutive[col] = max_count
    return max_consecutive

# Calculate maximum consecutive NaN values for each column
max_consecutive = max_consecutive_nan(df)

# Print the results
for col, max_count in max_consecutive.items():
    print(f"Column {col}: {max_count} consecutive NaN values")

Column 0: 0 consecutive NaN values
Column 1: 1679 consecutive NaN values
Column 2: 1679 consecutive NaN values
Column 3: 1679 consecutive NaN values
Column 4: 34552 consecutive NaN values
Column 5: 29218 consecutive NaN values
Column 6: 28023 consecutive NaN values
Column 7: 24729 consecutive NaN values
Column 8: 24729 consecutive NaN values
Column 9: 18278 consecutive NaN values
Column 10: 16373 consecutive NaN values
Column 11: 14466 consecutive NaN values
Column 12: 14346 consecutive NaN values
Column 13: 13511 consecutive NaN values
Column 14: 13237 consecutive NaN values
Column 15: 13022 consecutive NaN values
Column 16: 9263 consecutive NaN values
Column 17: 7859 consecutive NaN values
Column 18: 7699 consecutive NaN values
Column 19: 7508 consecutive NaN values
Column 20: 6484 consecutive NaN values
Column 21: 5123 consecutive NaN values
Column 22: 4808 consecutive NaN values
Column 23: 5494 consecutive NaN values
Column 24: 9890 consecutive NaN values
Column 25: 13214 consecutive NaN values
Column 26: 13783 consecutive NaN values
Column 27: 14786 consecutive NaN values
Column 28: 15547 consecutive NaN values
Column 29: 18141 consecutive NaN values
Column 30: 18373 consecutive NaN values
Column 31: 19430 consecutive NaN values
Column 32: 34343 consecutive NaN values
Column 33: 37268 consecutive NaN values
Column 34: 37268 consecutive NaN values
Column 35: 37320 consecutive NaN values
Column 36: 37320 consecutive NaN values
Column 37: 37417 consecutive NaN values
Column 38: 37417 consecutive NaN values
Column 39: 41696 consecutive NaN values
Column 40: 50051 consecutive NaN values
Column 41: 58596 consecutive NaN values
Column 42: 60186 consecutive NaN values
Column 43: 60614 consecutive NaN values
Column 44: 107659 consecutive NaN values
Column 45: 108021 consecutive NaN values
Column 46: 108036 consecutive NaN values
Column 47: 108036 consecutive NaN values
Column 48: 108036 consecutive NaN values
Column 49: 108036 consecutive NaN values
Column 50: 108036 consecutive NaN values
Column 51: 108036 consecutive NaN values
Column 52: 108036 consecutive NaN values
Column 53: 108036 consecutive NaN values

In a paper by Smith, A. W., Forsyth, C., Rae, I. J., Garton, T. M., Jackman, C. M., Bakrania, M., et al. (2022), it is noted that despite DSCOVR data being collected in real-time, there are instances where data from ACE are used to fill in missing data for larger intervals. Given the short duration of this project (2 days), we have chosen to employ limited interpolation to address missing values for gaps of 5 minutes or less, as suggested in the paper.

Due to time constraints, we will use this method. There are different types of interpolation that can be applied to time series data, including:
- linear interpolation (very common)
- Polynomial interpolatin
- Spline interpolation
- Time-Based Interpolation
- Exponential Smoothing
- Seasonal Decomposition

For this project we first tried linear interpolation for columns 4-53.  However it was clear that some columns had a very long sequences of consecutive NaN values. And more advanced techniques may be necessary.

After linear interpolatio we use Time-series forecasting for the remanent missing values.
```
# count the number of missing values after linear interpolation
interpolated_df.isnull().sum()
-----------------------------------
0           0
1       17442
2       17442
3       17442
4     1739252
5     1671392
6     1527983
7     1433511
8     1320848
9     1230169
10    1109591
11    1011760
12     881721
13     810610
14     696834
15     644889
16     587415
17     520020
18     473115
19     437685
20     390625
21     383166
22     390191
23     467929
24     515777
...
50    3225979
51    3232589
52    3234123
53    3236703
dtype: int64
```

A counter argument to employ an advanced method is that we might be able to use the presence of NaN for prediction. So what we decided to do is using different methods for differnt circumnstances. 
We drop columns that have consecutive NaN(s) values  for a period longer than 10 days. 
If the period is up to 10 days  we keep the rest and substitute it with a 0.0 type float64 after having used linear interpolation for gaps 5min or less, as this might be a fault related to a storm.

The reason for this is that columns that have consecutive NaN values for such a long period (e.g., more than 10days or 2 weeks) are likely not relevant to geomagnetic storm analysis. It's reasonable to drop these columns from the dataset. We also decided to keep a record of the NaN missing data with their timestamp for later use. Note that geomagnetic storms usually last from several hours to several days. So I can use this information to decide which column to drop.

To sum up we are allowing for different imputation methods based on the characteristics of the missing data and their potential relevance to geomagnetic storm analysis

In [13]:
def linear_interpolation(df:  pd.DataFrame, start_column: int, end_column: int, gap: int):
    """
    Linearly interpolate missing values in specified columns of a DataFrame.

    Parameters:
    df (pd.DataFrame): The DataFrame containing the data to be interpolated.
    init_column (int): The index of the first column to start interpolation.
    end_column (int): The index of the last column to end interpolation (exclusive).
    gap (int): The maximum gap size (in minutes) to be filled with interpolation.

    Returns:
    pd.DataFrame: The DataFrame with missing values interpolated.
    """
    # Select the columns to be interpolated
    columns_to_interpolate = df.columns[start_column:end_column]
    # Apply linear interpolation to the specified columns
    df[columns_to_interpolate] = df[columns_to_interpolate].interpolate(method='linear', limit=gap)

    return df

In [14]:
# call the function and interpolate missing values with in 5min gap
interpolated_df = linear_interpolation(df, start_column=4, end_column=54, gap=5)

### **Dropping columns with long period of consecutive NaN values**

We know there are 3277440 rows available, and we can calculate the thereshold for dropping columns as follow:

- Calculate the total number of minutes in 14 consecutive days: 14 days x 24 hours/day x 60 minutes/hour = 20,160 minutes.

- Calculate the percentage threshold: (20,160 minutes / 3,277,440 minutes) * 100% = 0.614%.

based on our threshold criteria, we might consider dropping columns where there are consecutive NaN values for approximately 20,160 consecutive minutes. These long periods of missing data are less likely to be related to geomagnetic storm phenomena and may indicate other issues.

In [20]:
# Function to calculate the maximum consecutive NaN values in a column

def consecutive_nan_count(column):
    max_consecutive = 0
    current_consecutive = 0

    for value in column:
        if pd.isna(value):
            current_consecutive += 1
            max_consecutive = max(max_consecutive, current_consecutive)
        else:
            current_consecutive = 0  # Reset the counter for non-NaN values

    return max_consecutive


# Calculate the maximum consecutive NaN values for each column in the subset
# Calculate and print the maximum consecutive NaN values for columns
for col in interpolated_df.columns:  # Adjust the range to match columns 
    max_consecutive_nan = consecutive_nan_count(interpolated_df[col])
    print(f"Column {col}: {max_consecutive_nan} consecutive NaN values")

# Drop columns with more than 0.615% consecutive NaN values
threshold = 0.00615 

max_consecutive_values = {}
column_index_map = {}  # Create a dictionary to map column index to name
for column in interpolated_df.columns:  # Modify the range as needed
    max_consecutive = consecutive_nan_count(interpolated_df[column])
    max_consecutive_ratio = max_consecutive / len(interpolated_df.index)
    max_consecutive_values[column] = max_consecutive_ratio
# Drop columns that exceed the threshold
for column, max_consecutive_ratio in max_consecutive_values.items():
    print(f"Column {column}: {max_consecutive_ratio:} max_consecutive_ratio")
    if max_consecutive_ratio > threshold:
        interpolated_df.drop(column, axis=1, inplace=True)

Column 0: 0 consecutive NaN values
Column 1: 1679 consecutive NaN values
Column 2: 1679 consecutive NaN values
Column 3: 1679 consecutive NaN values
Column 4: 34552 consecutive NaN values
Column 5: 29218 consecutive NaN values
Column 6: 28023 consecutive NaN values
Column 7: 24729 consecutive NaN values
Column 8: 24729 consecutive NaN values
Column 9: 18278 consecutive NaN values
Column 10: 16373 consecutive NaN values
Column 11: 14466 consecutive NaN values
Column 12: 14346 consecutive NaN values
Column 13: 13511 consecutive NaN values
Column 14: 13237 consecutive NaN values
Column 15: 13022 consecutive NaN values
Column 16: 9263 consecutive NaN values
Column 17: 7859 consecutive NaN values
Column 18: 7699 consecutive NaN values
Column 19: 7508 consecutive NaN values
Column 20: 6484 consecutive NaN values
Column 21: 5123 consecutive NaN values
Column 22: 4808 consecutive NaN values
Column 23: 5494 consecutive NaN values
Column 24: 9890 consecutive NaN values
Column 25: 13214 consecutive NaN values
Column 26: 13783 consecutive NaN values
Column 27: 14786 consecutive NaN values
Column 28: 15547 consecutive NaN values
Column 29: 18141 consecutive NaN values
Column 30: 18373 consecutive NaN values
Column 31: 19430 consecutive NaN values
Column 32: 34343 consecutive NaN values
Column 33: 37268 consecutive NaN values
Column 34: 37268 consecutive NaN values
Column 35: 37320 consecutive NaN values
Column 36: 37320 consecutive NaN values
Column 37: 37417 consecutive NaN values
Column 38: 37417 consecutive NaN values
Column 39: 41696 consecutive NaN values
Column 40: 50051 consecutive NaN values
Column 41: 58596 consecutive NaN values
Column 42: 60186 consecutive NaN values
Column 43: 60614 consecutive NaN values
Column 44: 107659 consecutive NaN values
Column 45: 108021 consecutive NaN values
Column 46: 108036 consecutive NaN values
Column 47: 108036 consecutive NaN values
Column 48: 108036 consecutive NaN values
Column 49: 108036 consecutive NaN values
Column 50: 108036 consecutive NaN values
Column 51: 108036 consecutive NaN values
Column 52: 108036 consecutive NaN values
Column 53: 108036 consecutive NaN values
Column 0: 0.00% max_consecutive_ratio
Column 1: 0.05% max_consecutive_ratio
Column 2: 0.05% max_consecutive_ratio
Column 3: 0.05% max_consecutive_ratio
Column 4: 1.05% max_consecutive_ratio
Column 5: 0.89% max_consecutive_ratio
Column 6: 0.86% max_consecutive_ratio
Column 7: 0.75% max_consecutive_ratio
Column 8: 0.75% max_consecutive_ratio
Column 9: 0.56% max_consecutive_ratio
Column 10: 0.50% max_consecutive_ratio
Column 11: 0.44% max_consecutive_ratio
Column 12: 0.44% max_consecutive_ratio
Column 13: 0.41% max_consecutive_ratio
Column 14: 0.40% max_consecutive_ratio
Column 15: 0.40% max_consecutive_ratio
Column 16: 0.28% max_consecutive_ratio
Column 17: 0.24% max_consecutive_ratio
Column 18: 0.23% max_consecutive_ratio
Column 19: 0.23% max_consecutive_ratio
Column 20: 0.20% max_consecutive_ratio
Column 21: 0.16% max_consecutive_ratio
Column 22: 0.15% max_consecutive_ratio
Column 23: 0.17% max_consecutive_ratio
Column 24: 0.30% max_consecutive_ratio
Column 25: 0.40% max_consecutive_ratio
Column 26: 0.42% max_consecutive_ratio
Column 27: 0.45% max_consecutive_ratio
Column 28: 0.47% max_consecutive_ratio
Column 29: 0.55% max_consecutive_ratio
Column 30: 0.56% max_consecutive_ratio
Column 31: 0.59% max_consecutive_ratio
Column 32: 1.05% max_consecutive_ratio
Column 33: 1.14% max_consecutive_ratio
Column 34: 1.14% max_consecutive_ratio
Column 35: 1.14% max_consecutive_ratio
Column 36: 1.14% max_consecutive_ratio
Column 37: 1.14% max_consecutive_ratio
Column 38: 1.14% max_consecutive_ratio
Column 39: 1.27% max_consecutive_ratio
Column 40: 1.53% max_consecutive_ratio
Column 41: 1.79% max_consecutive_ratio
Column 42: 1.84% max_consecutive_ratio
Column 43: 1.85% max_consecutive_ratio
Column 44: 3.28% max_consecutive_ratio
Column 45: 3.30% max_consecutive_ratio
Column 46: 3.30% max_consecutive_ratio
Column 47: 3.30% max_consecutive_ratio
Column 48: 3.30% max_consecutive_ratio
Column 49: 3.30% max_consecutive_ratio
Column 50: 3.30% max_consecutive_ratio
Column 51: 3.30% max_consecutive_ratio
Column 52: 3.30% max_consecutive_ratio
Column 53: 3.30% max_consecutive_ratio

This is the number of consecutive values for each columns:
```Column 0: 0 consecutive NaN values
Column 1: 1679 consecutive NaN values
Column 2: 1679 consecutive NaN values
Column 3: 1679 consecutive NaN values
Column 4: 34517 consecutive NaN values
Column 5: 29183 consecutive NaN values
Column 6: 27988 consecutive NaN values
Column 7: 24694 consecutive NaN values
Column 8: 24694 consecutive NaN values
Column 9: 18243 consecutive NaN values
Column 10: 16338 consecutive NaN values
Column 11: 14431 consecutive NaN values
Column 12: 14311 consecutive NaN values
Column 13: 13476 consecutive NaN values
Column 14: 13202 consecutive NaN values
Column 15: 12987 consecutive NaN values
Column 16: 9228 consecutive NaN values
Column 17: 7824 consecutive NaN values
Column 18: 7664 consecutive NaN values
Column 19: 7473 consecutive NaN values
Column 20: 6449 consecutive NaN values
Column 21: 5088 consecutive NaN values
Column 22: 4773 consecutive NaN values
Column 23: 5459 consecutive NaN values
Column 24: 9855 consecutive NaN values
Column 25: 13179 consecutive NaN values
Column 26: 13748 consecutive NaN values
Column 27: 14751 consecutive NaN values
Column 28: 15512 consecutive NaN values
Column 29: 18106 consecutive NaN values
Column 30: 18338 consecutive NaN values
Column 31: 19395 consecutive NaN values
Column 32: 34308 consecutive NaN values
Column 33: 37233 consecutive NaN values
Column 34: 37233 consecutive NaN values
Column 35: 37285 consecutive NaN values
Column 36: 37285 consecutive NaN values
Column 37: 37382 consecutive NaN values
Column 38: 37382 consecutive NaN values
Column 39: 41661 consecutive NaN values
Column 40: 50016 consecutive NaN values
Column 41: 58561 consecutive NaN values
Column 42: 60151 consecutive NaN values
Column 43: 60579 consecutive NaN values
Column 44: 107624 consecutive NaN values
Column 45: 107986 consecutive NaN values
Column 46: 108001 consecutive NaN values
Column 47: 108001 consecutive NaN values
Column 48: 108001 consecutive NaN values
Column 49: 108001 consecutive NaN values
Column 50: 108001 consecutive NaN values
Column 51: 108001 consecutive NaN values
Column 52: 108001 consecutive NaN values
Column 53: 108001 consecutive NaN values```

In [21]:
# check the null values again
interpolated_df.isnull().sum()

0           0
1       17442
2       17442
3       17442
9     1230169
10    1109591
11    1011760
12     881721
13     810610
14     696834
15     644889
16     587415
17     520020
18     473115
19     437685
20     390625
21     383166
22     390191
23     467929
24     515777
25     686300
26     778182
27     932520
28    1056520
29    1244733
30    1391951
31    1622591
dtype: int64

### **Time-Series Forecasting to Predict Missing Data using Temporal Imputation Methods**

Here we use time-series forecasting techniques like SARIMA or LSTM to predict the missing values based on the available data points. This approach is more sophisticated and can capture underlying patterns in the data. In this case we use SARIMA and LSTM. We will start with this method and complete the project, if time is left we will compare it to another interpolation/imputation method to see which one provide the best accuracy.

Note you can choose from various optimization methods that are available in statsmodels. Some common choices include:

- 'newton': Newton-Raphson method
- 'bfgs': Broyden–Fletcher–Goldfarb–Shanno (BFGS) method (default)
- 'lbfgs': Limited-memory BFGS
- 'powell': Powell’s method
- 'nm': Nelder-Mead method

Again following is possible implementation we skipped in this project due to time constraint:
```import statsmodels.api as sm

# Define the SARIMA parameters (you may need to tune these)
order = (1, 1, 1)  # ARIMA order (p, d, q)
seasonal_order = (1, 1, 1, 12)  # Seasonal order (P, D, Q, S)

# Forecast missing values for columns 4 and onward
for col in interpolated_df.columns[4:]:
    ts = interpolated_df[col]

    # Split the data into observed (non-missing) and missing data
    observed_data = ts.dropna()
    missing_data = ts[ts.isnull()]

    # Fit the SARIMA model
    sarima_model = sm.tsa.statespace.SARIMAX(
        observed_data,
        order=order,
        seasonal_order=seasonal_order,
        enforce_stationarity=False,
        enforce_invertibility=False,
    )
    sarima_results = sarima_model.fit(method='newton')

    # Forecast missing values (replace NaNs with forecasts)
    forecast_values = sarima_results.predict(
        start=len(observed_data),
        end=len(observed_data) + len(missing_data) - 1,  # Forecast for the entire length of the DataFrame
        dynamic=False,
    )
    # Replace missing values with forecasted values
    interpolated_df[col][ts.isnull()] = forecast_values


# Plot the original and forecasted data for the first column
mtp.figure(figsize=(12, 6))
mtp.plot(interpolated_df[interpolated_df.columns[4]], label='Original Data',linestyle='-')
mtp.plot(forecast_values, label='Forecasted Data', linestyle='--')
mtp.xlabel('Date')
mtp.ylabel('Value')
mtp.title('SARIMA Forecasting for Column 4')
mtp.show()


```

### **Option3: LSTM to Deal with Missing Data**

This methodology requires more computational resources and may be used for certain section of the dataset, however it is risky in case some information is loss.

```
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

def imputation_via_LSTM(df: pd.DataFrame, start_column: int):
    """
    Impute missing values in the DataFrame using Long Short-Term Memory (LSTM) based on the specified columns.

    Args:
        df (pd.DataFrame): The input DataFrame containing missing values.
        start_column (int): The index of the first column to impute missing values from.

    Returns:
        pd.DataFrame: The DataFrame with missing values imputed using LSTM.
    """
    # Extract the column names from the DataFrame
    columns_to_impute = df.columns[start_column:]
    # Define hyperparameters
    n_steps = 10  # Number of time steps (sequence length)
    n_features = len(columns_to_impute)  # Number of features (columns to impute)
    n_epochs = 50
    batch_size = 32

    # Normalize the data (scaling)
    scaler = MinMaxScaler()
    scaled_data = scaler.fit_transform(df[columns_to_impute])

    # Create sequences
    sequences = []
    target_values = []
    for i in range(len(df) - n_steps):
        sequences.append(scaled_data[i:i+n_steps])
        target_values.append(scaled_data[i+n_steps])

    X = np.array(sequences)
    y = np.array(target_values)

    # Split data into training and testing sets
    split_ratio = 0.8  # Adjust as needed
    split_index = int(split_ratio * len(X))
    X_train, X_test = X[:split_index], X[split_index:]
    y_train, y_test = y[:split_index], y[split_index:]

    # Build an LSTM model
    model = Sequential()
    model.add(LSTM(50, activation='relu', input_shape=(n_steps, n_features)))
    model.add(Dense(n_features))  # Output layer with the same number of features

    model.compile(optimizer='adam', loss='mean_squared_error')

    # Train the model
    model.fit(X_train, y_train, epochs=n_epochs, batch_size=batch_size, verbose=2)

    # Predict missing values
    y_pred = model.predict(X_test)

    # Inverse scaling to get the original values
    y_pred = scaler.inverse_transform(y_pred)
    y_test = scaler.inverse_transform(y_test)

    # Calculate RMSE (Root Mean Squared Error) as an evaluation metric
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    print(f'RMSE: {rmse}')

    # Replace missing values in the original DataFrame with predicted values
    df.loc[len(df) - len(y_test):, columns_to_impute] = y_pred

    # Save the DataFrame with imputed values to a new file if needed
    # df.to_csv('imputed_data.csv', index=False)
    
    return df

# call LTSM to deal with NaN data
imputed_df = imputation_via_LSTM(df = interpolated_df, start_column=4)
```

Now that we have dropped the NaN values we do not need we need to update the one left with 0.0 float64

In [22]:
interpolated_df.head()

,0,1,2,3,9,10,11,12,13,14,...,22,23,24,25,26,27,28,29,30,31
0,2016-01-01 00:00:00,6.83609,-3.37934,-12.9205,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01 00:01:00,6.76732,-3.30194,-12.9967,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01 00:02:00,6.39107,-2.61173,-13.3271,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-01 00:03:00,6.44897,-2.61525,-13.3299,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01 00:04:00,6.58758,-2.73082,-13.2361,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
interpolated_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3277440 entries, 0 to 175679
Data columns (total 27 columns):
 #   Column  Dtype
---  ------  -----
 0   0       datetime64[ns]
 1   1       float64
 2   2       float64
 3   3       float64
 4   9       float64
 5   10      float64
 6   11      float64
 7   12      float64
 8   13      float64
 9   14      float64
 10  15      float64
 11  16      float64
 12  17      float64
 13  18      float64
 14  19      float64
 15  20      float64
 16  21      float64
 17  22      float64
 18  23      float64
 19  24      float64
 20  25      float64
 21  26      float64
 22  27      float64
 23  28      float64
 24  29      float64
 25  30      float64
 26  31      float64
dtypes: datetime64[ns](1), float64(26)
memory usage: 700.1 MB

## **Feature Engineering** 

We also undertake feature engineering to create new attributes necessary for training our machine learning model.